.main-containt{
    z-index: 0;
    margin-top: 100px;
    height: max-content;
}
.section1{
    position: relative;
    z-index: 0;
    height: 200px;
    margin-top: 500px;
    
}
.background-text,.section3-text{
    position: absolute;
    left: 30px;
    bottom: 20px;
    font-size: 22px;
    height: max-content;
    max-width: 600px;
    flex-direction: column;
    display: flex;
    animation: slideText 1s ease-in;
    transition: all 0.3s ease;
    
}
.shopnow-btn{
    width: max-content;
    height: max-content;
    letter-spacing: 3px;  
    margin-top: 20px;
    font-size: 20px;
}
.shopnow-btn:hover{
    letter-spacing: 5px;
}

.section2{
    z-index: 2;
    height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:rgba(0, 0, 20, 1);
    margin-top: 10px;
}


.section2-box{
    width: 355px;
    height: 490px;
    color: rgba(0, 0, 0, 0.726);
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 3;
    overflow: hidden;
}
.product-details{
    position: relative;
    top: 30px;
    left: 20px;
}
.section2-box img{
    background-color: black;
   mix-blend-mode: multiply;
}
  .section2 .images{
    position: relative;
    height: 350px;
   
     background-color: black;
    width: 100%;
    background-position: center;
    background-size: cover;
    
  }
  .images:hover{
      border-radius: 9px; 
    scale: 1.1;
    transition: all 0.3s ease-in;
  }
  .section3{
    z-index: 2;
    height: 600px;
    width: 96%;
    border-radius: 8px;
    position: relative;
    left: 30px;
    background-image: 
    linear-gradient(
      to top, 
      rgba(0, 0, 20, 1) 10%, 
      rgba(0, 0, 0, 0) 40%, 
      rgba(0, 0, 0, 0) 70%, 
      rgba(0, 0, 0, 0.6) 100%
    ), 
    url("https://i.pinimg.com/736x/cd/32/c0/cd32c0bb42aaf21e8f43b6589d842c2b.jpg");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
    background-color:rgba(0, 0, 20, 1);
    margin-top: 80px;
}
.section4{
    z-index: 2;
    height: 600px;
    width: 96%;
    border-radius: 8px;
    position: relative;
    left: 30px;
    background-image: 
    url("https://media.istockphoto.com/id/481820964/photo/woman-at-home-listening-to-music.jpg?s=612x612&w=0&k=20&c=u0xdtNWXv8zq8z7hPsfwLCLdplg50_NHwJupmtebadM=");
  background-size: cover;
  background-position:center;
 
    background-color:rgba(0, 0, 20, 1);
    margin-top: 100px;
}
.section4-container{
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 22px;
    height: max-content;
    max-width: 600px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    animation: slideText 3s ease-in 2s backwards;
    transition: all 0.3s ease;
    
}
.section4-box{
    width: max-content;
    height: max-content;
    padding:15px;
    border-radius: 8px;
     background-color:rgba(0, 0, 20, .4); 
}
.section4-box:hover{
    background-color:rgba(0, 0, 20, .9);
}
@keyframes slideText {
    0%{
        transform: translateX(-200px);
        display: none;
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        display: flex;
        opacity: 1;
    }
}
